@layout('layouts/main')
@set('CAFE', 'Home')

@section('body')
<body>
  <main>
    <div>
      <h1 class="title"> Welcome to the Malware Cafe </h1>
      <p class="subtitle">
        Start by entering the SHA256 hash of your file under "Hash Submission".
      </p>
    </div>
  </main>
</body>
</html>
@end