@layout('layouts/main')
@set('CAFE', 'IP Analysis')

@section('body')
<main>
    <div class="container">
        <div class="result-container">
            <h3 class="subtitle"> {{ hash }}</h3>
            <h2 class="subtitle">Contacted IPs:</h2>
        <pre>{{ JSON.stringify(contactedIPs, null, 2) }}</pre>
        </div>
    </div>
</main>
@end
