@layout('layouts/main')
@set('CAFE', 'IP Analysis')

@section('body')
<main>
    <div class="container">
        <div class="result-container">
            <h3 class="subtitle"> {{ hash.hash }}</h3>
            <h2 class="subtitle">Contacted IPs:</h2>
            <ul>
                @each(ip in contactedIPs)
                    <li>{{ ip.ip }}</li>
                    <li>{{ ip.abuse_reputation }}</li>
                @endeach
            </ul>
        </div>
    </div>
</main>
@end
